# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environments
# =====================================

.venv/
venv/
env/
ENV/

# =====================================
# IDEs
# =====================================

.vscode/
.idea/

# =====================================
# Operating System
# =====================================

.DS_Store
Thumbs.db

# =====================================
# Python Packaging
# =====================================

build/
dist/
*.egg-info/

# =====================================
# Testing / Coverage
# =====================================

.pytest_cache/
.coverage
htmlcov/

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Model Checkpoints
# =====================================

*.npz
*.npy
*.pkl
*.pickle

# =====================================
# Temporary Files
# =====================================

*.tmp
*.temp

# =====================================
# DataSets
# =====================================
data/